/* Your CSS will go here */ 

html{
    font-size: 1.5em;
    color: rgb(245,255,215)
}

/* Container  */
.container{
    max-width: 500px;
    margin: 0 auto;
}
/* heading style */
.heading-tab{
    background: url('https://images.unsplash.com/photo-1515851515020-af45a722418b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80');  
    background-repeat: no-repeat;
    background-size: cover;
    
    padding: 1em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    text-align: center;
}
/* UL stylesheet */
ul{
    margin: 0;
    margin-top: 1em;
    list-style-type: none;
    padding: 10px;
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    min-height: 500px;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}
li,.list-item{
    background-color: rgba(95, 15, 64, 0.514);
    border: 5px solid rgba(95, 15, 64, 0);
    max-height: 2em;
    border-radius: 1em;
    margin: 10px auto;
    padding-top: 1em;
    padding-left: 1em;
}

/* Submit button */
button{
    width: 5em;
    height: 3em;
    border-radius: 1em;
    background:rgb(245,255,215);
    font-size: 0.5em;
}

/* input value */
input{
    background-color: rgba(250, 235, 215, 0);
    border-style: none;
    border-bottom-style: solid; 
    border-bottom-width: 0.5px;
    /* height: 3em; */
    color: #ffffff;
    font-size: 2em;
    width: 100%;
}
input:focus {
    color: #ffffff;
    font-size:3em;
}
/* Strike through when item is complete */
.complete{
    text-decoration: line-through;
}

/* Move span icons*/
i{
    margin-right: 1em;
    /* display:inline-block; */
    float: right;
}